<ion-header>
  <ion-toolbar>
    <ion-title>user-desk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <button (click)="goUsers()" class="button">My Contacts</button>
  </div>
  <div style="text-align: center;">
    <button (click)="goTeams()" class="button">My Teams</button>
  </div>

  <!--Boton sin funcionalidad de momento-->
  <div style="text-align: center;">
    <button (click)="goCalendar()" class="button">Calendar</button>
  </div>

</ion-content>
