/*Formulario campos a rellenar*/
.loginAdmin {
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
  }

  .loginAdmin-header,
  .loginAdmin p {
    margin-top: 0;
    margin-bottom: 10 ;
  }

  .loginAdmin-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #9B59B6;
  }

  .loginAdmin-header {
    background: #C70039;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: white;
  }

  .loginAdmin-container {
    padding: 12px;
  }

  .loginAdmin p {
    padding: 12px;
  }

  .loginAdmin input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
  }
  .button {
    background-color: #C70039; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button1 {
  background-color: #a89fa2; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.center{
  text-align: center;
}
