<ion-header>
  <ion-toolbar>
    <ion-title>license</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="loginAdmin">

    <h2 class="loginAdmin-header">Insert your license</h2>
    <form [formGroup]="licenseForm" class="loginAdmin-container" (ngSubmit)="submitLicense()">
      <input type="licenseCode" placeholder="Insert the license code...*" formControlName="licenseCode" />
      <ng-container
        *ngIf="!formControls.licenseCode.valid &&formControls.licenseCode.touched"
      >
        <p *ngIf="formControls.licenseCode.errors.required">
          License code is required
        </p>
      </ng-container>

      <p>
        <input type="submit" value="Next" [disabled]="licenseForm.invalid" />
      </p>
    </form>
  </div>
  <p class="center">If you don't have a license, obtain one for your business in minutes:</p>
  <div class="center">
    <button (click)="obtainLicense()" class="button1"> Obtain a license </button>
  </div>
  <div class="center">
    <button (click)="admin()" class="button"> Back </button>
  </div>

</ion-content>
