<ion-header>
  <ion-toolbar>
    <ion-title>register-admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="loginAdmin">

    <h2 class="loginAdmin-header">Register</h2>
    <form [formGroup]="registerAdminForm" class="loginAdmin-container" (ngSubmit)="submitRegisterAdmin()">
      <input type="name" placeholder="Business name...*" formControlName="name" />
      <ng-container
        *ngIf="!formControls.name.valid &&formControls.name.touched"
      >
        <p *ngIf="formControls.name.errors.required">
          Business name is required
        </p>
      </ng-container>

      <input type="cif" placeholder="Business CIF...*" formControlName="cif" />
      <ng-container
        *ngIf="!formControls.cif.valid &&formControls.cif.touched"
      >
        <p *ngIf="formControls.cif.errors.required">
          CIF is required
        </p>
      </ng-container>

      <input type="email" placeholder="Business email...*" formControlName="email" />
      <ng-container
        *ngIf="!formControls.email.valid &&formControls.email.touched"
      >
        <p *ngIf="formControls.email.errors.required">
          Email is required
        </p>
      </ng-container>

      <input type="phone" placeholder="Business phone...*" formControlName="phone" />
      <ng-container
        *ngIf="!formControls.phone.valid &&formControls.phone.touched"
      >
        <p *ngIf="formControls.phone.errors.required">
          Phone is required
        </p>
      </ng-container>

      <input type="address" placeholder="Business address...*" formControlName="address" />
      <ng-container
        *ngIf="!formControls.address.valid &&formControls.address.touched"
      >
        <p *ngIf="formControls.address.errors.required">
          Address is required
        </p>
      </ng-container>

      <input type="postalCode" placeholder="Postal code...*" formControlName="postalCode" />
      <ng-container
        *ngIf="!formControls.postalCode.valid &&formControls.postalCode.touched"
      >
        <p *ngIf="formControls.postalCode.errors.required">
          Postal code is required
        </p>
      </ng-container>

      <input type="password" placeholder="Password*" formControlName="password" />
      <ng-container
        *ngIf="!formControls.password.valid &&formControls.password.touched"
      >
        <p *ngIf="formControls.password.errors.required">
          Password is required
        </p>
      </ng-container>

      <p>
        <input type="submit" value="Get in!" [disabled]="registerAdminForm.invalid" />
      </p>
    </form>
  </div>
  <div class="center">
    <button (click)="admin()" class="button"> Back </button>
  </div>

</ion-content>
