<ion-header>
  <ion-toolbar>
    <ion-title>adminDesk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="text-align: center;">
    <button (click)="goUsers()" class="button">Users</button>
  </div>
  <div style="text-align: center;">
    <button (click)="goTeams()" class="button">Teams</button>
  </div>

  <!--Boton sin funcionalidad de momento-->
  <div style="text-align: center;">
    <button (click)="goRequests()" class="button">Pending requests</button>
  </div>
</ion-content>
